.quick-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    .header-quick-view {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .quick-view-inner {
        width: 45vw;
        max-height: calc(100vh - 30px);
        background-color: #fff;
        padding: 32px;
        h2 {
            margin: 0;
            font-size: 32px;
            color: #27ae60;
        }

        .product-detail {
            .image img {
                height: 20rem;
                margin: 20px;
            }

            .content {
                margin-top: 20px;
                font-size: 20px;
                width: 100%;

                p span {
                    margin-left: 5px;
                    text-decoration: line-through;
                    opacity: 0.5;
                }

                div label {
                    margin-right: 10px;
                }

                .btn {
                    margin-top: 20px;
                    float: right;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .quick-view .quick-view-inner {
        width: 50vw;
        height: 40vh;

        h2 {
            font-size: 20px;
        }

        .btn {
            font-size: 10px;
            padding: 0.3rem 0.9rem;
        }

        .product-detail {
            .image img {
                height: 12rem;
                margin: 30px;
                margin-left: 0px;
            }

            .content .desc {
                font-size: 12px;
            }

            .content .qty {
                font-size: 12px;
            }
        }
    }

    .link-to-login {
        margin-top: 20px !important;
    }
}

@media (max-width: 576px) {
    .quick-view .quick-view-inner {
        width: 90vw;
        height: 40vh;
    }

    .link-to-login {
        margin-top: 50px !important;
    }

    .link-to-login > a {
        padding: 20px !important;
        font-size: 18px !important;
    }
}
