.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-r-0 {
    padding-right: 0;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;

    span {
        font-size: 3rem;
        color: var(--color-primary);
        font-weight: 600;
    }

    h3 {
        font-size: 3rem;
        font-weight: 500;
    }
}

.p-x-80 {
    padding-left: 80px;
    padding-right: 80px;
}
