@import url(./_variable.scss);
@import url(./common.scss);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-bolder);
}

img{
    vertical-align: middle;
    border-style: none;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;

    span {
        font-size: 3rem;
        color: var(--color-primary);
        font-weight: 600;
    }

    h3{
        font-size: 3rem;
        font-weight: 500;

    }
}